<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638411632125-l8bn2s09e8dqn7d0qgos6518kkbarfra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638411632125-l8bn2s09e8dqn7d0qgos6518kkbarfra</string>
	<key>API_KEY</key>
	<string>AIzaSyDUn4UIw3vXGRuCQ_XnxwgwMrz-_m9ve0o</string>
	<key>GCM_SENDER_ID</key>
	<string>638411632125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.coindcx</string>
	<key>PROJECT_ID</key>
	<string>coindcx-ddeba</string>
	<key>STORAGE_BUCKET</key>
	<string>coindcx-ddeba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638411632125:ios:68eea081b86233d75efd94</string>
</dict>
</plist>